.root {
    display: flex;
    justify-content: space-between;
    /*background-color: #f2f2d2;*/
    padding: 10px;
  }
  
  .button-left {
    margin-left: 10px;
  }
  
  .button-right {
    margin-right: 10px;
  }
  