.loginButton {
    height: 40px;
    min-width: 90px;
    text-decoration: none;
    color: red;
    display: flex;
    margin-left: auto;
    align-items: center;
    outline: wheat;
    border-color: black;
    text-transform: none;
    text-align: center;
    line-height: 1;
    
}

.form {
    display: flex;
    margin-left: auto;
    align-items: center;
}